* {
    font-family: cursive;
    background-color: #11e29d;
}

.Butns {
    display: flex;
    justify-content: space-evenly;
}

#choiceButn {
    border: 0cap;
}

.Result {
    line-height: 2;
}

.js-status {}